<!DOCTYPE html>
<head>
<link rel="stylesheet" type="text/css" href="https://static2cdn.hubspot.com/blog.hubspot.com/static-2.1210/v3/sass/build/listing-sales.css">
<link rel="stylesheet" type="text/css" href="https://static2cdn.hubspot.com/hubspot.com/static-1.3375/_hsg/build/css/hsg.css">
</head>
<body>
   <div class="header-container-wrapper">
      <div class="header-container container-fluid">
         <div class="row-fluid-wrapper row-depth-1 row-number-1 ">
            <div class="row-fluid ">
               <div class="fixed-header-mobile">
                  <div class="span12 widget-span widget-type-cell " style="" data-widget-type="cell" data-x="0" data-w="12">
                     <div class="row-fluid-wrapper row-depth-1 row-number-2 ">
                        <div class="row-fluid ">
                           <div class="span12 widget-span widget-type-global_group " style="" data-widget-type="global_group" data-x="0" data-w="12">
                              <!-- start coded_template: id:4062488789 path:generated_global_groups/4062488779.html -->
                              <div class="" data-global-widget-path="generated_global_groups/4062488779.html">
                                 <div class="row-fluid-wrapper row-depth-1 row-number-1 ">
                                    <div class="row-fluid ">
                                       <div class="span12 widget-span widget-type-cell " style="" data-widget-type="cell" data-x="0" data-w="12">
                                          <div class="row-fluid-wrapper row-depth-1 row-number-2 ">
                                             <div class="row-fluid ">
                                                <div class="span12 widget-span widget-type-global_widget " style="" data-widget-type="global_widget" data-x="0" data-w="12">
                                                   <div class="cell-wrapper layout-widget-wrapper">
                                                      <span id="hs_cos_wrapper_global_language_variable_constructor" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" style="" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html" data-global-widget-id="4493943987">
                                                      </span>
                                                   </div>
                                                   <!--end layout-widget-wrapper -->
                                                </div>
                                                <!--end widget-span -->
                                             </div>
                                             <!--end row-->
                                          </div>
                                          <!--end row-wrapper -->
                                          <div class="row-fluid-wrapper row-depth-1 row-number-3 ">
                                             <div class="row-fluid ">
                                                <div class="span12 widget-span widget-type-global_widget " style="" data-widget-type="global_widget" data-x="0" data-w="12">
                                                   <div class="cell-wrapper layout-widget-wrapper">
                                                      <span id="hs_cos_wrapper_wt_smart_sales_line_hubdb" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" style="" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html" data-global-widget-id="4681470681">
                                                      </span>
                                                   </div>
                                                   <!--end layout-widget-wrapper -->
                                                </div>
                                                <!--end widget-span -->
                                             </div>
                                             <!--end row-->
                                          </div>
                                          <!--end row-wrapper -->
                                          <div class="row-fluid-wrapper row-depth-1 row-number-4 ">
                                             <div class="row-fluid ">
                                                <div class="span12 widget-span widget-type-raw_html " style="" data-widget-type="raw_html" data-x="0" data-w="12">
                                                   <div class="cell-wrapper layout-widget-wrapper">
                                                      <span id="hs_cos_wrapper_module_147866345644391969" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" style="" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html">
                                                         <span id="hs_cos_wrapper_global_svg_icons" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" style="" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html" data-global-widget-id="4473595317">
                                                           
                                                         </span>
                                                      </span>
                                                   </div>
                                                   <!--end layout-widget-wrapper -->
                                                </div>
                                                <!--end widget-span -->
                                             </div>
                                             <!--end row-->
                                          </div>
                                          <!--end row-wrapper -->
                                          <div class="row-fluid-wrapper row-depth-1 row-number-5 ">
                                             <div class="row-fluid ">
                                                <div class="span12 widget-span widget-type-global_widget " style="" data-widget-type="global_widget" data-x="0" data-w="12">
                                                   <div class="cell-wrapper layout-widget-wrapper">
                                                      <span id="hs_cos_wrapper_invoca__phone_number_tracking_logic" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" style="" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html" data-global-widget-id="4651031214">
                                                      </span>
                                                   </div>
                                                   <!--end layout-widget-wrapper -->
                                                </div>
                                                <!--end widget-span -->
                                             </div>
                                             <!--end row-->
                                          </div>
                                          <!--end row-wrapper -->
                                       </div>
                                       <!--end widget-span -->
                                    </div>
                                    <!--end row-->
                                 </div>
                                 <!--end row-wrapper -->
                                 <div class="row-fluid-wrapper row-depth-1 row-number-6 ">
                                    <div class="row-fluid ">
                                       <div class="span12 widget-span widget-type-raw_jinja " style="" data-widget-type="raw_jinja" data-x="0" data-w="12">
                                          <!-- FIXME: need i18n paths --> 
                                          <!-- end FIXME -->
                                          <div id="hsg-nav-2016" class="hsg-nav__wrapper">
                                             <div class="hsg-nav__product-nav-bar">
                                                <div id="hs-nav-v3" class="external-nav  nav-width-flex with-app-dropdowns single-product current-product-marketing signed-out-nav">
                                                   <div class="hs-nav-section main-nav single-product">
                                                      <div class="nav-section-inner" style="display: block;">
                                                         <ul class="nav-links-left">
                                                            <li class="first nav-main-item">
                                                               <a class="nav-logo" href="http://www.hubspot.com">
                                                               <img height="34" src="https://static.hubspot.com/style-guide/img/nav-sprocket.png" width="29" class="topLeftLogo">
                                                               </a>
                                                            </li>
                                                            <li id="nav-main-item-marketing-grader" data-dropdown-id="marketing-grader" class="nav-main-item   ">
                                                               <a data-appkey="marketing" class=" " href="http://website.grader.com/?__hstc=20629287.9f66afe73fbc03451158ed8edb948052.1496225137770.1496225137770.1496225137770.1&amp;__hssc=20629287.2.1496225137771&amp;__hsfp=1186650268">
                                                               Website Grader
                                                               </a>
                                                            </li>
                                                            <li id="nav-main-item-academy" data-dropdown-id="academy" class="nav-main-item   ">
                                                               <a data-appkey="academy" class=" " href="http://academy.hubspot.com/">
                                                               Academy
                                                               </a>
                                                            </li>
                                                            <li id="nav-main-item-library" data-dropdown-id="library" class="nav-main-item   ">
                                                               <a data-appkey="library" class=" " href="https://app.hubspot.com/library/">
                                                               Marketing Library
                                                               </a>
                                                            </li>
                                                            <li id="nav-main-item-partner-directory" data-dropdown-id="partner-directory" class="nav-main-item last  ">
                                                               <a data-appkey="partnerDirectory" class=" " href="https://app.hubspot.com/partner-directory/landing">
                                                               Partner Directory
                                                               </a>
                                                            </li>
                                                         </ul>
                                                         <ul class="nav-links-right">
                                                            <li class="first">
                                                               <a onclick="typeof ga !== 'undefined' &amp;&amp; ga('send', 'event', 'Login', 'Click', 'Top Nav Login')" href="https://login.hubspot.com/login/" class="sign-in">Sign In</a>
                                                            </li>
                                                            <li class="sep"></li>
                                                            <li>
                                                               <a href="http://offers.hubspot.com/free-trial" class="demo">Free Trial</a>
                                                            </li>
                                                            <li>
                                                               <span class="try-label">Try HubSpot software:</span>
                                                            </li>
                                                         </ul>
                                                      </div>
                                                   </div>
                                                   <div class="hs-nav-section sub-nav" style="display:none;">
                                                   </div>
                                                </div>
                                             </div>
                                             <div>
                                                <nav class="hsg-nav-bar" data-cx="009219321729865762236:fzizmixjdmi">
                                                   <div class="hsg-page-width-normal">
                                                      <div class="hsg-nav__inner">
                                                         <ul class="hsg-nav__group">
                                                            <li class="hsg-nav__group-item hsg-nav__group-item--has-dropdown">
                                                               <div id="nav-main-link" class="hsg-nav__link-wrapper">
                                                                  <a href="https://www.hubspot.com/sales" class="hsg-nav__link">
                                                                  <span class="hsg-nav__link-label hsg-nav__link-label--globe">English</span>
                                                                  </a>
                                                               </div>
                                                               <ul class="hsg-nav__dropdown-list">
                                                                  <li class="hsg-nav__dropdown-item">
                                                                     <a class="hsg-nav__dropdown-country-link" href="https://www.hubspot.jp/sales?__hstc=20629287.9f66afe73fbc03451158ed8edb948052.1496225137770.1496225137770.1496225137770.1&amp;__hssc=20629287.2.1496225137771&amp;__hsfp=1186650268">日本語</a>
                                                                  </li>
                                                                  <li class="hsg-nav__dropdown-item">
                                                                     <a class="hsg-nav__dropdown-country-link" href="https://www.hubspot.de/sales?__hstc=20629287.9f66afe73fbc03451158ed8edb948052.1496225137770.1496225137770.1496225137770.1&amp;__hssc=20629287.2.1496225137771&amp;__hsfp=1186650268">Deutsch</a>
                                                                  </li>
                                                                  <li class="hsg-nav__dropdown-item">
                                                                     <a class="hsg-nav__dropdown-country-link" href="https://www.hubspot.com/sales">English</a>
                                                                  </li>
                                                                  <li class="hsg-nav__dropdown-item">
                                                                     <a class="hsg-nav__dropdown-country-link" href="https://www.hubspot.es/sales?__hstc=20629287.9f66afe73fbc03451158ed8edb948052.1496225137770.1496225137770.1496225137770.1&amp;__hssc=20629287.2.1496225137771&amp;__hsfp=1186650268">Español</a>
                                                                  </li>
                                                                  <li class="hsg-nav__dropdown-item">
                                                                     <a class="hsg-nav__dropdown-country-link" href="https://br.hubspot.com/sales">Português</a>
                                                                  </li>
                                                                  <li class="hsg-nav__dropdown-item">
                                                                     <a class="hsg-nav__dropdown-country-link" href="https://www.hubspot.fr/sales?__hstc=20629287.9f66afe73fbc03451158ed8edb948052.1496225137770.1496225137770.1496225137770.1&amp;__hssc=20629287.2.1496225137771&amp;__hsfp=1186650268">Français</a>
                                                                  </li>
                                                               </ul>
                                                            </li>
                                                            <span id="hs_cos_wrapper_global_phone_number_dropdown" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" style="" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html" data-global-widget-id="4424339074">
                                                               <li class="hsg-nav__group-item hsg-nav__group-item--has-dropdown">
                                                                  <div class="hsg-nav__link-wrapper">
                                                                     <a href="tel:+61280466514" class="hsg-nav__link">
                                                                     <span class="hsg-nav__link-label hsg-nav__link-label--phone">Sales <span class="invocaNumber" data-invoca-campaign-id="">+61 2 8046 6514</span></span>
                                                                     </a>
                                                                  </div>
                                                                  <!-- Main phone number = 65 3158 3395 -->
                                                                  <ul class="hsg-nav__dropdown-list">
                                                                     <li class="hsg-nav__dropdown-item">
                                                                        <a href="tel:+65%203158%203395">Main +65 3158 3395</a>
                                                                     </li>
                                                                     <li class="hsg-nav__dropdown-item">
                                                                        <a href="//www.hubspot.com/company/contact">All Numbers &amp; Locations</a>
                                                                     </li>
                                                                  </ul>
                                                               </li>
                                                            </span>
                                                         </ul>
                                                         <ul class="hsg-nav__group">
                                                            <li class="hsg-nav__group-item hsg-nav__group-item--search">
                                                               <input data-id="hsg-nav__search-input" type="search" placeholder="search...">
                                                            </li>
                                                            <li class="hsg-nav__group-item hsg-nav__group-item--login signed-out">
                                                               <a class="hsg-nav__link" href="//app.hubspot.com/login">
                                                               <span class="hsg-nav__link-label">Sign In</span>
                                                               </a>
                                                            </li>
                                                            <li class="hsg-nav__group-item hsg-nav__group-item--cta">
                                                               <a class="cta--primary cta--small homepage-nav" href="//www.hubspot.com/products/get-started">Get Started</a>
                                                            </li>
                                                         </ul>
                                                      </div>
                                                   </div>
                                                </nav>
                                             </div>
                                             <nav class="hsg-nav-menu">
                                                <div class="hsg-page-width-normal">
                                                   <div class="hsg-nav__inner">
                                                      <a href="/" id="hsg-nav__logo">
                                                      <h4>David Cohen</h4>
                                                      </a>
                                                      <div class="hsg-nav__burger-wrapper">
                                                         <div class="hsg-nav__burger"></div>
                                                      </div>
                                                      <div class="hsg-nav__groups-wrapper">
                                                         <div class="hsg-nav__groups-close"></div>
                                                         <ul class="hsg-nav__group hsg-nav__group--nav-bar">
                                                            <li class="hsg-nav__group-item">
                                                               <div class="hsg-nav__link-wrapper">
                                                                  <a href="tel:+61280466514" class="hsg-nav__link">
                                                                  <span class="hsg-nav__link-label hsg-nav__link-label--phone">Sales +<span class="invocaNumber" data-invoca-campaign-id="">61 2 8046 6514</span></span>
                                                                  </a>
                                                               </div>
                                                            </li>
                                                         </ul>
                                                         <ul class="hsg-nav__group hsg-nav__group--primary">
                                                            <li class="hsg-nav__group-item  hsg-nav__group-item--has-dropdown ">
                                                               <div class="hsg-nav__link-wrapper">
                                                                  <a href="//www.hubspot.com/products/get-started" class="hsg-nav__link">
                                                                  <span class="hsg-nav__link-label">software</span>
                                                                  </a>
                                                               </div>
                                                               <!-- Software -->
                                                               <ul class="hsg-nav__dropdown-list hsg-nav__dropdown-list--3-col">
                                                                  <li class="hsg-nav__dropdown-row">
                                                                     <a href="//www.hubspot.com/products/crm" class="hsg-nav__box-link" gtm="crm">
                                                                        <h4 class="hsg-nav__header" gtm="crm">HubSpot CRM</h4>
                                                                        <p class="hsg-nav__subheader" gtm="crm">All Your Contacts &amp; Companies, <strong>100% FREE</strong></p>
                                                                     </a>
                                                                     <a href="//www.hubspot.com/products/marketing" class="hsg-nav__box-link" gtm="marketing">
                                                                        <h4 class="hsg-nav__header" gtm="marketing">HubSpot Marketing</h4>
                                                                        <p class="hsg-nav__subheader" gtm="marketing">All-in-One Software, Starting at <strong>$200/mo</strong></p>
                                                                     </a>
                                                                     <a href="//www.hubspot.com/products/sales" class="hsg-nav__box-link" gtm="sales">
                                                                        <h4 class="hsg-nav__header" gtm="sales">HubSpot Sales</h4>
                                                                        <p class="hsg-nav__subheader" gtm="sales">All-in-One Software, Starting at <strong>$0/mo</strong></p>
                                                                     </a>
                                                                  </li>
                                                                  <li class="hsg-nav__dropdown-row hsg-nav__dropdown-row--links">
                                                                     <div class="hsg-nav__dropdown-column">
                                                                        <h4 class="hsg-nav__header hsg-nav__header">Resources</h4>
                                                                        <ul class="hsg-nav__link-group hsg-nav__link-group--inline">
                                                                           <li><a href="//www.hubspot.com/customers"><span>Case Studies</span></a></li>
                                                                           <li><a href="//www.hubspot.com/resources"><span>Marketing Library</span></a></li>
                                                                           <li><a href="//academy.hubspot.com"><span>Marketing &amp; Sales Training</span></a></li>
                                                                           <li><a href="//www.hubspot.com/services"><span>Services</span></a></li>
                                                                           <li><a href="//www.hubspot.com/inbound-marketing"><span>What Is Inbound Marketing?</span></a></li>
                                                                           <li><a href="https://www.hubspot.com/products/integrations"><span>Integrations</span></a></li>
                                                                        </ul>
                                                                     </div>
                                                                  </li>
                                                               </ul>
                                                            </li>
                                                            <li class="hsg-nav__group-item  hsg-nav__group-item--has-dropdown ">
                                                               <div class="hsg-nav__link-wrapper">
                                                                  <a href="//www.hubspot.com/our-story" class="hsg-nav__link">
                                                                  <span class="hsg-nav__link-label">about</span>
                                                                  </a>
                                                               </div>
                                                               <!-- About -->
                                                               <ul class="hsg-nav__dropdown-list hsg-nav__dropdown-list--3-col">
                                                                  <li class="hsg-nav__dropdown-row hsg-nav__dropdown-row--links">
                                                                     <div class="hsg-nav__dropdown-column">
                                                                        <h4 class="hsg-nav__header">Company</h4>
                                                                        <ul class="hsg-nav__link-group">
                                                                           <li>
                                                                              <a href="//www.hubspot.com/our-story"><span>Our Story</span></a>        
                                                                           </li>
                                                                           <li>
                                                                              <a href="//www.hubspot.com/company/management"><span>Management Team</span></a>        
                                                                           </li>
                                                                           <li>
                                                                              <a href="//www.hubspot.com/company/board-of-directors"><span>Board of Directors</span></a>        
                                                                           </li>
                                                                           <li>
                                                                              <a href="//www.hubspot.com/jobs"><span>Careers</span></a>        
                                                                           </li>
                                                                        </ul>
                                                                     </div>
                                                                     <div class="hsg-nav__dropdown-column">
                                                                        <h4 class="hsg-nav__header">News</h4>
                                                                        <ul class="hsg-nav__link-group">
                                                                           <li>
                                                                              <a href="//www.hubspot.com/company-news"><span>HubSpot News</span></a>        
                                                                           </li>
                                                                           <li>
                                                                              <a href="//www.hubspot.com/press-coverage"><span>Press Coverage &amp; Awards</span></a>        
                                                                           </li>
                                                                           <li>
                                                                              <a href="//www.hubspot.com/hubspot-events"><span>Events &amp; Talks</span></a>        
                                                                           </li>
                                                                           <li>
                                                                              <a href="//www.hubspot.com/speaker-program"><span>Speakers</span></a>        
                                                                           </li>
                                                                        </ul>
                                                                     </div>
                                                                     <div class="hsg-nav__dropdown-column">
                                                                        <h4 class="hsg-nav__header">For Investors</h4>
                                                                        <ul class="hsg-nav__link-group">
                                                                           <li>
                                                                              <a href="https://ir.hubspot.com/investors/investor-overview/default.aspx"><span>Investor Relations</span></a>        
                                                                           </li>
                                                                        </ul>
                                                                     </div>
                                                                  </li>
                                                               </ul>
                                                            </li>
                                                            <li class="hsg-nav__group-item  hsg-nav__group-item--has-dropdown ">
                                                               <div class="hsg-nav__link-wrapper">
                                                                  <a href="//www.hubspot.com/partners" class="hsg-nav__link">
                                                                  <span class="hsg-nav__link-label">partners</span>
                                                                  </a>
                                                               </div>
                                                               <!-- Agency -->
                                                               <ul class="hsg-nav__dropdown-list hsg-nav__dropdown-list--3-col">
                                                                  <li class="hsg-nav__dropdown-row">
                                                                     <a href="https://www.hubspot.com/partners/find-an-agency" class="hsg-nav__box-link" gtm="">
                                                                        <h4 class="hsg-nav__header" gtm="">Hire a Partner</h4>
                                                                        <p class="hsg-nav__subheader" gtm="">Grow with the help of a HubSpot agency partner.</p>
                                                                     </a>
                                                                     <a href="https://www.hubspot.com/partners" class="hsg-nav__box-link" gtm="">
                                                                        <h4 class="hsg-nav__header" gtm="">Become a Partner</h4>
                                                                        <p class="hsg-nav__subheader" gtm="">Find the partner program that's right for you.</p>
                                                                     </a>
                                                                  </li>
                                                               </ul>
                                                            </li>
                                                            <li class="hsg-nav__group-item ">
                                                               <div class="hsg-nav__link-wrapper">
                                                                  <a href="//www.hubspot.com/pricing/marketing" class="hsg-nav__link">
                                                                  <span class="hsg-nav__link-label">pricing</span>
                                                                  </a>
                                                               </div>
                                                            </li>
                                                            <li class="hsg-nav__group-item  hsg-nav__group-item--has-dropdown ">
                                                               <div class="hsg-nav__link-wrapper">
                                                                  <a href="//blog.hubspot.com" class="hsg-nav__link">
                                                                  <span class="hsg-nav__link-label">blogs</span>
                                                                  </a>
                                                               </div>
                                                               <!-- Blogs -->
                                                               <ul class="hsg-nav__dropdown-list hsg-nav__dropdown-list--2-col">
                                                                  <li class="hsg-nav__dropdown-row">
                                                                     <a href="//blog.hubspot.com/marketing" class="hsg-nav__box-link" gtm="mktg_blog">
                                                                        <h4 class="hsg-nav__header" gtm="mktg_blog">Marketing Blog</h4>
                                                                        <p class="hsg-nav__subheader" gtm="mktg_blog">Where Marketers Go to Grow</p>
                                                                     </a>
                                                                     <a href="//blog.hubspot.com/sales" class="hsg-nav__box-link" gtm="sales_blog">
                                                                        <h4 class="hsg-nav__header" gtm="sales_blog">Sales Blog</h4>
                                                                        <p class="hsg-nav__subheader" gtm="sales_blog">Read. Learn. Sell.</p>
                                                                     </a>
                                                                  </li>
                                                               </ul>
                                                            </li>
                                                         </ul>
                                                         <ul class="hsg-nav__group hsg-nav__group--search">
                                                            <li class="hsg-nav__group-item hsg-nav__group-item--cta">
                                                               <a class="cta--primary cta--small homepage-nav" href="//www.hubspot.com/products/get-started">Get Started</a>
                                                            </li>
                                                            <li class="hsg-nav__group-item hsg-nav__group-item--search">
                                                               <input data-id="hsg-nav__search-input" type="search" placeholder="Search HubSpot.com">
                                                            </li>
                                                         </ul>
                                                      </div>
                                                   </div>
                                                </div>
                                             </nav>
                                          </div>
                                          <span id="hs_cos_wrapper_international_search_en_version" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" style="" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html" data-global-widget-id="4168891968">
                                             <script data-template-name="hsgDefaultSearchWrapper" type="text/template">
                                                <section class="hsg-search__modal-header">
                                                <div class="hs-page-width-normal">
                                                  <input class="hsg-search__modal-input"
                                                    name="searchModal"
                                                    type="search"
                                                    placeholder="search...">
                                                  <div class="hsg-search__modal-search-options">
                                                    <label for="searchOptionWeb">
                                                              <input id="searchOptionWeb" value="009219321729865762236:z9gsnksfc30"
                                                                name="searchOption" type="radio" class="hsg-search__modal-radio" />Search hubspot.com</label>
                                                    <label for="searchOptionBlog">
                                                              <input id="searchOptionBlog" value="009219321729865762236:fzizmixjdmi"
                                                                name="searchOption" type="radio" class="hsg-search__modal-radio" />Search blog</label>
                                                  </div>
                                                </div>
                                                </section>
                                                
                                                <section class="hsg-search__results">
                                                    <div class="hs-page-width-normal">
                                                        <span class="hsg-search__container hsg-search__default-state">
                                                          <h6>Enter a search term above and press Enter.</h6>
                                                        </span>
                                                    </div>
                                                </section>
                                             </script>
                                             <script data-template-name="hsgSearchResultsWrapper" type="text/template">
                                                <section class="hsg-search__modal-header">
                                                <div class="hs-page-width-normal">
                                                <input class="hsg-search__modal-input"
                                                  name="searchModal"
                                                  type="search"
                                                  placeholder="search...">
                                                <div class="hsg-search__modal-search-options">
                                                  <label for="searchOptionWeb">
                                                            <input id="searchOptionWeb" value="009219321729865762236:z9gsnksfc30"
                                                              name="searchOption" type="radio" class="hsg-search__modal-radio" />Search hubspot.com</label>
                                                  <label for="searchOptionBlog">
                                                            <input id="searchOptionBlog" value="009219321729865762236:fzizmixjdmi"
                                                              name="searchOption" type="radio" class="hsg-search__modal-radio" />Search blog</label>
                                                </div>
                                                </div>
                                                </section>
                                                
                                                <section class="hsg-search__results">
                                                    <div class="hs-page-width-normal">
                                                        <% _.each(items, function(items) { %>
                                                        <div class="hsg-search-item" data-link="<%- items.link %>">
                                                            <div class="title">
                                                                <a href="<%- items.link %>" target="_blank"><%- items.title %></a>
                                                                <p><%- items.link %></p>
                                                            </div>
                                                            <div class="snippet">
                                                                <p><%- items.snippet %></p>
                                                            </div>
                                                        </div>
                                                        <% }); %>
                                                        <span class="hsg-search__container"><a class="hsg-search__more cta cta--blue" href="#">Load more results</a></span>
                                                    </div>
                                                </section>
                                             </script>
                                             <script data-template-name="hsgNoResults" type="text/template">
                                                <section class="hsg-search__modal-header">
                                                <div class="hs-page-width-normal">
                                                <input class="hsg-search__modal-input"
                                                  name="searchModal"
                                                  type="search"
                                                  placeholder="search...">
                                                <div class="hsg-search__modal-search-options">
                                                  <label for="searchOptionWeb">
                                                            <input id="searchOptionWeb" value="009219321729865762236:z9gsnksfc30"
                                                              name="searchOption" type="radio" class="hsg-search__modal-radio" />Search hubspot.com</label>
                                                  <label for="searchOptionBlog">
                                                            <input id="searchOptionBlog" value="009219321729865762236:fzizmixjdmi"
                                                              name="searchOption" type="radio" class="hsg-search__modal-radio" />Search blog</label>
                                                </div>
                                                </div>
                                                </section>
                                                
                                                <section class="hsg-search__results no-results">
                                                  <h6>That’s odd...</h6>
                                                <p><strong>Couldn’t find quite the right match.</strong></p>
                                                <p>Don’t worry, try searching again up top.</p>
                                                </section>
                                             </script>
                                             <script data-template-name="hsgMoreResults" type="text/template">
                                                <% _.each(items, function(items){ %>
                                                <div class="hsg-search-item" data-link="<%- items.link %>">
                                                    <div class="title">
                                                        <a href="<%- items.link %>" target="_blank"><%- items.title %></a>
                                                        <p><%- items.link %></p>
                                                    </div>
                                                    <div class="snippet">
                                                        <p><%- items.snippet %></p>
                                                    </div>
                                                </div>
                                                <% }); %>
                                             </script>
                                          </span>
                                       </div>
                                       <!--end widget-span -->
                                    </div>
                                    <!--end row-->
                                 </div>
                                 <!--end row-wrapper -->
                                 <div class="row-fluid-wrapper row-depth-1 row-number-7 ">
                                    <div class="row-fluid ">
                                       <div class="span12 widget-span widget-type-raw_jinja " style="" data-widget-type="raw_jinja" data-x="0" data-w="12">
                                          <!--[if lte IE 10]>
                                          <a href="http://outdatedbrowser.com" class="browser-upgrade-notification" style="width: 100%; text-align: center; color: #FFF; background-color: #11434c; display: block;">
                                             <p style="font-size: .875em; color: #FFF; padding: 15px 0px; margin: 0px;"><img class="browser-upgrade-notification__emoji" src="https://www.hubspot.com/hubfs/assets/hubspot.com/icons/Sad_Face_Emoji_large.png?t=1494954070529" alt="" style="max-height: 1.3em; position: relative; top: 4px; right: 3px;"> Looks like your browser is stuck in the past. Update to the latest version for a better, faster, stronger (and safer) browsing experience. <img class="browser-upgrade-notification__arrow" src="https://cdn2.hubspot.net/hubfs/53/assets/hubspot.com/icons/Arrow.png" style="position: relative; left: 0%;"></p>
                                          </a>
                                          <![endif]-->
                                       </div>
                                       <!--end widget-span -->
                                    </div>
                                    <!--end row-->
                                 </div>
                                 <!--end row-wrapper -->
                              </div>
                              <!-- end coded_template: id:4062488789 path:generated_global_groups/4062488779.html -->
                           </div>
                           <!--end widget-span -->
                        </div>
                        <!--end row-->
                     </div>
                     <!--end row-wrapper -->
                     <div class="row-fluid-wrapper row-depth-1 row-number-3 ">
                        <div class="row-fluid ">
                           <div class="mobile-header">
                              <div class="span12 widget-span widget-type-raw_html " style="" data-widget-type="raw_html" data-x="0" data-w="12">
                                 <div class="cell-wrapper layout-widget-wrapper">
                                    <span id="hs_cos_wrapper_module_1469571212426791056" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" style="" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html">
                                       <!--
                                          ===== MOBILE HEADER =====
                                          ========================= -->
                                       <div class="header-mobile visible-phone">
                                          <div class="header-mobile__blog-name--wrapper">
                                             <div class="header-mobile__blog-name">
                                                <a class="header-mobile__link" href="//blog.hubspot.com/marketing">Marketing</a>
                                             </div>
                                             <div class="header-mobile__blog-name">
                                                <a class="header-mobile__link" href="//blog.hubspot.com/sales">Sales</a>
                                             </div>
                                          </div>
                                       </div>
                                    </span>
                                 </div>
                                 <!--end layout-widget-wrapper -->
                              </div>
                              <!--end widget-span -->
                           </div>
                        </div>
                        <!--end row-->
                     </div>
                     <!--end row-wrapper -->
                  </div>
                  <!--end widget-span -->
               </div>
            </div>
            <!--end row-->
         </div>
         <!--end row-wrapper -->
      </div>
      <!--end header -->
   </div>

   <script src="http://static2cdn.hubspot.com/blog.hubspot.com/static-2.1180/v3/js/build/listing.js"></script>
</body>
</html>